<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Vbdev\PaymentGuard\Model\ResourceModel\PaymentGuardLogs\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">vbdev_payment_guard_logs</argument>
            <argument name="resourceModel" xsi:type="string">Vbdev\PaymentGuard\Model\ResourceModel\PaymentGuardLogs
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="vbdev_paymentguard_logs_listing_data_source" xsi:type="string">
                    Vbdev\PaymentGuard\Model\ResourceModel\PaymentGuardLogs\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>

    <!-- For Login Customer -->
    <type name="Magento\Checkout\Api\PaymentInformationManagementInterface">
        <plugin name="restrict_place_order" type="Vbdev\PaymentGuard\Plugin\PaymentInfoManagement"/>
    </type>

    <!-- For Guest Customer -->
    <type name="Magento\Checkout\Api\GuestPaymentInformationManagementInterface">
        <plugin name="restrict_guest_place_order" type="Vbdev\PaymentGuard\Plugin\GuestPaymentInfoManagement"/>
    </type>
</config>
