<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Vbdev_PaymentGuard::menu"
             title="Payment Guard"
             module="Vbdev_PaymentGuard"
             sortOrder="200"
             parent="Magento_Backend::system"
             resource="Vbdev_PaymentGuard::menu"/>
        <add id="Vbdev_PaymentGuard::logs"
             title="Payment Guard Logs"
             module="Vbdev_PaymentGuard"
             sortOrder="10"
             action="paymentguard/logs/index"
             parent="Vbdev_PaymentGuard::menu"
             resource="Vbdev_PaymentGuard::logs"/>
        <add id="Vbdev_PaymentGuard::vbdev_config"
             title="Settings"
             module="Vbdev_PaymentGuard"
             sortOrder="100"
             action="adminhtml/system_config/edit/section/payment_guard"
             parent="Vbdev_PaymentGuard::menu"
             resource="Vbdev_PaymentGuard::vbdev_config"/>
    </menu>
</config>
